nav {
    width: 100%;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 4px 0;
 }
 
 nav ul li {
    display: inline-block;
    list-style: none;
 
 
 }
 