* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F4EA;
    font-family: "Inter", sans-serif;
    color: #646F58;
}

h1 {
    /* margin: 0; */
    /* padding-left: 2%; */
    margin-top: 10%;
    font-weight: 500;
    color: #58a16e;
}
h2 {
    font-weight: 400;
    color: #7D8570;
}

h3 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 2%;
    color: #7D8570;
}

p {
    font-weight: 400;
    /* color: #43473f; */
    color: #646F58;
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #a5ad99;
}

/* NavBar css */

nav {
    width: 100%;
    height: 20%;
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 7%;
    background-color: #DED9E2;
    max-height: 10%;
    border-bottom: 2px solid;
    border-color: #A5AD99;
 }

 .navbar-container {
    background-color: #DED9E2;
 }

 nav a {
    /* margin: 0;
    padding: 0; */
    padding-top: 5px;
    height: 90%;
    background-color: #DED9E2;
 }

 nav img {
    /* margin-top: 0px; */
    max-height: 90%;
    /* height: 100%; */
    background-color: #DED9E2;
 }

 nav img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
 }

 nav ul {
    background-color: #DED9E2;
 }
 
 nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 20px;
    font-size: 20px;
    background-color: #DED9E2;

 }

 @media (max-width: 500px) {
    /* nav ul li {
        
    } */
 }

 /* Contact */
.contact {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 5%;
    margin-top: 2%;
    border-top: 2px solid;
    border-color: #A5AD99;
}

.contact h1 {
    color: #75609A; 
    margin: 0;
    font-weight: 600;
}

.contact .flavor {
    width: 50%;
    padding: 5%;
    text-align: center;
}

.contact .flavor h2 {
    font-size: 3vw;
    padding-top: 5%;
    padding-bottom: 0;
    color: #9686B8;
}

.contact .info {
    width: 50%;
    padding: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact .info .contactList {
    padding-top: 2%;
}

.contact .info .item {
    padding: 5% 0;
    width: 70%;
    max-width: 100%;
    display: flex;
    align-items: center;
  
}

.contact .info .item img {
    display: flex;
    max-height: 2vw;
    height: auto;
    width: 2vw;
}

.contact .info .item a {
    padding: 2% 5%;
}

 /* General */

.content {
    margin-top: 100px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 60px;
    width: 86%
    
}

/* Home */
.home-page {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
}

.home-page .intro-text {
    width: 50%;
    height: 100%;
}

.home-page .intro-text h1 {
    font-size: 6vw;
    color: #58A16E;
}

.home-page .intro-text h2 {
    font-size: 3vw;
}

.home-page ul {
    padding-top: 2%;
    padding-left: 5%;
}


@media (max-width: 800px) {
    .home-page .intro-text {
        width: 100%;
    }
 }



/* Card */
.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.card {
    width: 48%;
    margin-bottom: 3%;
    border-style: solid;
    border-width: 2px;
    border-color: #adb3a4;
    border-radius: 10px;
    overflow: hidden;
    background-color: #DED9E2;
    box-shadow: 5px 5px 10px #afa7cf;
    text-align: center;
}

.card:hover {
    transform: scale(1.01);
    transition-duration: 0.5s;
}

.card img {
    /* width: 96%; */
    max-width: 96%;
    width: auto;
    height: 100%;
    max-height: 300px;
    margin: 2% 2%;
    background-color: #DED9E2;
}

.card h2 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    background-color: #DED9E2;
    text-align: left;
}

.card h2:hover {
    color: #a5ad99;
}

.card a {
    background-color: #DED9E2;
    color: #533a7b;
    font-weight: 500;
}

.card a:hover {
    color: #9686b8;
}

.card p {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    background-color: #DED9E2;
    text-align: left;
}

@media (max-width: 800px) {
    .card-list {
      flex-direction: column;
      margin: 0px 0px;
    }
    .card {
        width: 90%;
        align-items: center;
        margin-bottom: 20px;
    }
    .card img {
        max-height: 300px;
    }
}

/*fonts*/

/* .inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  } */
